/*-----CSS FOR STAFF ROSTER TABLE-----*/
.table-wrapper {
    width: 100rem;
    margin: 1rem auto;
   	padding: 1rem;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title .add-new {
    float: right; 
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
/*-----BREAK CELL CONTENTS AND WRAP TO NEW LINE TO PREVENT OCCUPYING ADJACENT CELL-----*/
table.table td {
    word-break: break-all;
}
/*-----POSITION EDIT AND DELETE ICONS WITHIN ACTION COLUMN, ALSO STYLE HAND WHILE POINTING ON BUTTON-----*/
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
/*-----STYLE ADD BUTTON GREEN FOR TABLE ROWS-----*/    
table.table td a.add {
    color: #27C46B;
}
/*-----STYLE EDIT BUTTON YELLOW FOR TABLE ROWS-----*/
table.table td a.edit {
    color: #FFC107;
}
/*-----STYLE DELETE BUTTON RED FOR TABLE ROWS-----*/
table.table td a.delete {
    color: #E34724;
}
/*-----STYLE EDIT, DELETE BUTTON SIZE FOR TABLE ROWS-----*/
table.table td i {
    font-size: 1.5rem;
}
/*-----STYLE ADD BUTTON AND POSITION FOR TABLE ROWS-----*/
table.table td a.add i {
    font-size: 1.5rem;
    margin-right: -0.5rem;
    position: relative;
    top: .25rem;
} 
/*-----STYLING FOR EDIT OR ADDING WITHIN THE TABLE-----*/  
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
/*-----STYLING FOR EDIT OR ADDING WITHIN THE TABLE WHEN NO ENTRY IS ADDED TO FIELD-----*/
table.table .form-control.error {
    border-color: #f50000;
}
/*-----REMOVE ADD FROM ROWS AND ONLY SHOW WHEN ADD OR EDIT BUTTONS USED-----*/
table.table td .add {
    display: none;
}